*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    align-items: center;
    padding: 50px;
    color: white;
}

.sedans{
    background-color: rgb(230, 164, 43);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.suvs{
    background-color: rgb(26, 107, 107);
}

.luxury{
    background-color: rgb(6, 56, 37);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

img{
    padding-top: 30px;
    padding-left: 30px;
}

p, h1{
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    padding-bottom: 0;
}

.btn{
    margin-left: 30px;
    margin-bottom: 30px;
    border: 15px solid white;
    background: white;
    border-radius: 25px;
    cursor: pointer;
}

.btn-1{
    color: orange;
    font-weight: bold;
}

.btn-2{
    color: rgb(17, 112, 112);
    font-weight: bold;
}

.btn-3{
    color: rgb(7, 59, 46);
    font-weight: bold;
}

@media (max-width: 600px){
    .main{
        display: block;
    }

    .sedans, .suvs, .luxury{
        justify-items: center;
        text-align: center;
    }

    .btn{
        margin-left: 0;
        cursor: pointer;
    }

    img{
        padding-left: 0;
    }

    .sedans{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .luxury{
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}